#Targets directry
_targets

#All pipeline output
*/out/*
!*/*/.placeholder.txt
!*/*/.empty

#R files
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rproj.user

## DS store
.DS_Store

## git
.git

## project folders
/summary_plots/*

## datasets
.rds

